apiVersion: apps/v1
kind: Deployment
metadata:
  name: application
  labels:
    app.kubernetes.io/name: employees
    app.kubernetes.io/component: frontend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: employees
      app.kubernetes.io/component: frontend
  replicas: 3
  template:
    metadata:
      labels:
        app.kubernetes.io/name: employees
        app.kubernetes.io/component: frontend
    spec:
      containers:
      - name: employees-images
        image: 634809228531.dkr.ecr.us-east-1.amazonaws.com/webapp:v0.1
        env:
          - name: DBPWD
            value: Temp/123
          - name: DBUSER
            value: root
          - name: DBHOST
            value: "mysql.database.svc.cluster.local"
          - name: DBPORT
            value: "3306"
        ports:
        - containerPort: 8080
  #    imagePullSecrets:
  #        - name: credsafeer007